<section class="model-content">
  <header>
    <h1>Prince Akachi</h1>
  </header>

  <section class="content">
    <nav class="nav-menu">
      <ul>
        <li>Session</li>
        <li>Extra</li>
        <li>+</li>
      </ul>
    </nav>

    <section class="model-section">
      <h2>Balinda <span>Christelle</span></h2>
      <h3>Model</h3>
    </section>

    <section class="slide-control-section">
      <nav class="vertical-menu">Intagram</nav>

      <div class="slide-control">
        <div class="wrapper">
          <div class="slide-count">I/IV</div>
          <div class="slide-label">
            Next Picture
          </div>
        </div>
      </div>
    </section>
  </section>

  <footer>
    <p>Nigeria, Lagos</p>
    <p>Model</p>
  </footer>
</section>
