<section class="model-content">
  <header>
    <h1>Prince Akachi</h1>
  </header>

  <section class="content">
    <nav class="nav-menu">
      <ul>
        <li>Session</li>
        <li>Extra</li>
        <li>+</li>
      </ul>
    </nav>

    <section class="model-section">
      <h2>{{ title }}</h2>
      <h3>{{ role }}</h3>
    </section>

    <section class="slide-control-section">
      <nav class="vertical-menu">Intagram</nav>

      <div class="slide-control">
        <ng-container *ngFor="let slide of slides; index as index">
          <div
            class="wrapper"
            [class.active]="isActiveSlide(slide)"
            (click)="showSlide(index)"
          >
            <div class="slide-count">
              {{ slide.alt }}
            </div>
            <div class="divider"></div>
            <div class="slide-label">
              Next Picture
            </div>
          </div>
        </ng-container>
      </div>
    </section>
  </section>

  <footer>
    <p>Nigeria, Lagos</p>
    <p>Model</p>
  </footer>
</section>
