@import 'config';

.model-image {
  position: relative;
  width: 100%;
  height: 100%;

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 36px 63px;
    background-color: white;
    font-family: $header-font;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 480px) {
  .model-image .menu {
    font-size: 12px;
    padding: 20px;
  }
}
